.section {
    margin-bottom: 40px; 
  }
  
  .team-member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin: 1px; 
    box-shadow: 0 2px 4px rgba(24, 255, 71, 0.1);
    transition: transform 0.3s ease;
  }
  
  
  .team-member-card:hover {
    transform: translateY(-5px);
  }
  
  .member-image-container {
    width: 160px; 
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  
  .card-media {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .member-details {
    padding: 10px 20px;
    text-align: center;
  }
  
  .member-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .member-role {
    font-size: 14px;
    color: #666;
  }
  
  
  .title {
    text-align: center; 
    font-size: 36px; 
    font-weight: bold; 
    font-family: 'Arial', sans-serif; 
    margin-bottom: 30px; 
  }
  
  .mission-section {
    background-image: url('https://example.com/background-image.jpg');
    background-size: cover; 
    background-position: center; 
    padding: 50px; 
    border-radius: 8px; 
    color: rgb(0, 0, 0); 
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
  }
  